In [3]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_day"

query = f"""       
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    """

query = f"""
    SELECT COUNT(*) AS table_length
    FROM {PROJECT}.{DATASET}.{TABLE}
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()

In [4]:
df

   table_length
0            62

In [5]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_day"

query = f"""
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE tour_name = 'Highlights of Jordan'
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()
df