In [3]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_day"

query = f"""       
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    """

query = f"""
    SELECT COUNT(*) AS table_length
    FROM {PROJECT}.{DATASET}.{TABLE}
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()

In [4]:
df

   table_length
0            62

In [5]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_day"

query = f"""
    SELECT *
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE tour_name = 'Highlights of Jordan'
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()
df

In [7]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_month"

query = f"""
    SELECT
        tour_name,
        itinerary_name,
        STRING_AGG(CAST(start_date AS STRING) ORDER BY start_date) AS start_dates
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE tour_name = 'Highlights of Jordan'
    GROUP BY tour_name, itinerary_name;
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()
df

,tour_name,itinerary_name,start_dates
0,Highlights of Jordan,None,"2024-04-02,2024-04-06,2024-04-07,2024-04-09,20..."

In [11]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_month"

query = f"""
    SELECT
        tour_name,
        itinerary_name,
        STRING_AGG(CAST(start_date AS STRING) ORDER BY start_date) AS start_dates,
        STRING_AGG(DISTINCT(CAST('Standard - Adult' AS STRING))) AS unique_costs
    FROM {PROJECT}.{DATASET}.{TABLE}
    WHERE tour_name = 'Highlights of Jordan'
    GROUP BY tour_name, itinerary_name;
    """

client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()
df

,tour_name,itinerary_name,start_dates,unique_costs
0,Highlights of Jordan,None,"2024-04-02,2024-04-06,2024-04-07,2024-04-09,20...",Standard - Adult