In [1]:
import pandas as pd
from langchain.chains import LLMChain, ReduceDocumentsChain
from langchain.llms import OpenAI
from langchain.prompts import PromptTemplate
from langchain.text_splitter import CharacterTextSplitter
from langchain.llms import OpenAI
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.chains import RetrievalQA
from langchain.vectorstores import Chroma
from langchain.chains import create_tagging_chain_pydantic
from langchain.document_loaders import TextLoader
from langchain.vectorstores import FAISS
from langchain.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.agents.agent_types import AgentType
from langchain.chains.llm import LLMChain
from langchain.prompts import PromptTemplate
from langchain.chains.combine_documents.stuff import StuffDocumentsChain
from langchain.document_loaders import TextLoader
from langchain.chains import ReduceDocumentsChain, MapReduceDocumentsChain
from langchain.docstore.document import Document
from langchain.document_loaders.csv_loader import CSVLoader
import pandas as pd
from langchain.document_loaders import BigQueryLoader
from langchain.chains.llm import LLMChain
from langchain.prompts import PromptTemplate
from langchain.chains.combine_documents.stuff import StuffDocumentsChain
from google.cloud import bigquery
from pydantic import BaseModel

In [2]:
from dotenv import load_dotenv
import os

# Load the environment variables from the .env file
load_dotenv()

# Access environment variables
api_key = os.getenv("OPENAI_KEY")

In [3]:
from langchain.chat_models import ChatOpenAI

llm = ChatOpenAI(temperature=0, model="gpt-3.5-turbo", openai_api_key=api_key)

In [4]:
PROJECT = "wagon-bootcamp-377120"
DATASET = "g_adventures_dataset"
TABLE = "one_month"

In [5]:
class UserTravelDetails(BaseModel):
    country: str
    max_budget: float
    min_budget: float
    departing_after: str
    departing_before: str
    max_duration: int
    min_duration: int

In [6]:
# Example usage:
user_travel_details = UserTravelDetails(
    country="Morocco",
    max_budget=1000,
    min_budget=0,
    departing_after="2024-04-02",
    departing_before="2024-04-02",
    max_duration=10,
    min_duration=5
)

In [7]:
def list_column_names():
    client = bigquery.Client(project=PROJECT)
    dataset_ref = client.dataset(DATASET)
    table_ref = dataset_ref.table(TABLE)

    # Get the table schema
    table = client.get_table(table_ref)

    # Extract and return the column names
    column_names = [field.name for field in table.schema]

    filtered_categories = [category for category in column_names if "Adult" in category and "Promotion Description" not in category]

    return filtered_categories

In [8]:
def list_all_column_names():
    client = bigquery.Client(project=PROJECT)
    dataset_ref = client.dataset(DATASET)
    table_ref = dataset_ref.table(TABLE)

    # Get the table schema
    table = client.get_table(table_ref)

    # Extract and return the column names
    column_names = [field.name for field in table.schema]

    return column_names

In [9]:
# room_categories = list_column_names()
# all_columns = list_all_column_names()

In [10]:
found_itineraries = ['Morocco Kasbahs & Desert']

In [11]:
def generate_sql_query(user_travel_details, found_itineraries):
    
    all_columns = list_all_column_names()
    all_columns_str = ",\n".join(all_columns)
    all_columns_str = all_columns_str + ","
    
    room_categories = [category for category in all_columns if "Adult" in category and "Promotion Description" not in category]
    
    category_cases = []

    for category in room_categories:
        category_case = f"CASE WHEN {category} > 0 THEN {category} ELSE 1000000 END"
        category_cases.append(category_case)

    category_cases_str = ",\n".join(category_cases)

    query = f"""
    SELECT
        MAX(tour_operator) AS tour_operator,
        tour_name,
        itinerary_name,
        MAX(visited_countries) AS visited_countries,
        MAX(currency) AS currency,
        ARRAY_AGG(DISTINCT cost) AS Costs,
        MAX(duration) AS duration,
        ARRAY_AGG(CAST(start_date AS STRING) ORDER BY start_date) AS start_dates,
        MAX(Travel_Style) AS Travel_Style,
        MAX(Service_Level) AS Service_Level,
        MAX(Physical_Grading) AS Physical_Grading,
        MAX(Merchandising) AS Merchandising,
        MAX(Trip_Type) AS Trip_Type,
        MAX(itinerary) AS itinerary,
        MAX(url) AS url
FROM (
    SELECT
        {all_columns_str}
        LEAST(
            {category_cases_str}
        ) AS cost
    FROM {PROJECT}.{DATASET}.{TABLE}
) AS subquery
    WHERE 1 = 1
    """

    
    # Iterate through the provided filter criteria and add them to the query
    if user_travel_details.max_budget:
        query += f" AND cost <= {user_travel_details.max_budget}"

    if user_travel_details.departing_after:
        query += f" AND start_date >= '{user_travel_details.departing_after}'"

    if user_travel_details.departing_before:
        query += f" AND start_date <= '{user_travel_details.departing_before}'"

    query += f""" AND tour_name in ('Morocco Kasbahs & Desert', 'Morocco: Sahara & Beyond')
    GROUP BY
        tour_name, itinerary_name;"""
    
    return query

In [12]:
combined_query = generate_sql_query(user_travel_details, found_itineraries)

In [13]:
client = bigquery.Client(project="wagon-bootcamp-377120")
query_job = client.query(combined_query)
result = query_job.result()
df = result.to_dataframe()
df

,tour_operator,tour_name,itinerary_name,visited_countries,currency,Costs,duration,start_dates,Travel_Style,Service_Level,Physical_Grading,Merchandising,Trip_Type,itinerary,url
0,G Adventures,Morocco Kasbahs & Desert,None,Morocco,GBP,[649.0],8,[2024-04-02],"Classic - All of the highlights, culture, acce...",Standard - Comfortable tourist-class accommoda...,2 - Light - Light walking and hiking suitable ...,"Planeterra Project, Book Your Bubble - The Boo...",Small Group - Group trips average 12 traveller...,"""Day 1: Arrive at any time.\nDay 2: Enjoy a G ...",https://www.gadventures.com/trips/morocco-kasb...

In [14]:
# Define prompt
prompt_template = """Write a summary and only include the itinerary name, tour length, a summary of departure dates, summary of costs, travel style, physical grading, a summary of the itinerary and present the url to the user.
Include a mention of any potential interests: [].
"{text}"
Produce a summary paragraph not a list or bullet points.
CONCISE SUMMARY:"""
prompt = PromptTemplate.from_template(prompt_template)

# Define LLM chain
llm = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")
llm_chain = LLMChain(llm=llm, prompt=prompt)

# Define StuffDocumentsChain
stuff_chain = StuffDocumentsChain(
    llm_chain=llm_chain, document_variable_name="text"
)

In [15]:
loader = BigQueryLoader(combined_query)
docs = loader.load()
itinerary_summary = stuff_chain.run(docs)

In [16]:
print(itinerary_summary)

The "Morocco Kasbahs & Desert" tour by G Adventures is an 8-day trip that explores the highlights of Morocco. The tour starts on April 2, 2024, and costs £649. It falls under the Classic travel style, offering a mix of public and private transport and comfortable tourist-class accommodations. The physical grading is light, suitable for most fitness levels. The itinerary includes visits to ancient Roman ruins, the Fès medina, camel rides in the desert, the Todra Gorge, the Aït Ben Haddou Kasbah, and a guided visit to Marrakech. The tour also offers the option to participate in a tagine cooking class and experience the vibrant Djemaa el Fna Square. The tour is part of the Book Your Bubble Collection, providing extra benefits for booking private travel. Interested travelers can find more information and book the tour at the following URL: [https://www.gadventures.com/trips/morocco-kasbahs-and-desert/DCKD/].

In [17]:
print(combined_query)

    SELECT
        MAX(tour_operator) AS tour_operator,
        tour_name,
        itinerary_name,
        MAX(visited_countries) AS visited_countries,
        MAX(currency) AS currency,
        ARRAY_AGG(DISTINCT cost) AS Costs,
        MAX(duration) AS duration,
        ARRAY_AGG(CAST(start_date AS STRING) ORDER BY start_date) AS start_dates,
        MAX(Travel_Style) AS Travel_Style,
        MAX(Service_Level) AS Service_Level,
        MAX(Physical_Grading) AS Physical_Grading,
        MAX(Merchandising) AS Merchandising,
        MAX(Trip_Type) AS Trip_Type,
        MAX(itinerary) AS itinerary,
        MAX(url) AS url
FROM (
    SELECT
        tour_operator,
tour_name,
itinerary_name,
visited_countries,
start_date,
duration,
url,
itinerary,
Travel_Style,
Service_Level,
Physical_Grading,
Merchandising,
Trip_Type,
currency,
Deluxe___Double___D___Adult,
Standard___Twin___D___Adult,
Standard___Adult,
En_suite_bathroom___Twin___D___Adult,
Shared_bathroom___Twin___D___Adult,
En_suite_bathroom___Double___D___Adult,
Upper_Deck_Balcony___Single___D___Adult,
Main_Deck___Double___D___Adult,
Upper_Deck_Balcony___Double_Twin___D___Adult,
Main_Deck_Balcony___Double_Twin___D___Adult,
Shared_bathroom___Female_only_dorm_____F___Adult,
Shared_bathroom___Double_Twin___D___Adult,
Shared_bathroom___Mixed_gender_dorm_____B___Adult,
Standard___Double___D___Adult,
Upper_Deck___Twin___D___Adult,
Standard___Child,
Non_View_En_suite_bathroom___Twin___D___Adult,
View_En_suite_bathroom___Twin___D___Adult,
Non_View_En_suite_bathroom___Double___D___Adult,
Main_Deck___Twin___D___Adult,
Lower_Deck___Twin___D___Adult,
        LEAST(
            CASE WHEN Deluxe___Double___D___Adult > 0 THEN Deluxe___Double___D___Adult ELSE 1000000 END,
CASE WHEN Standard___Twin___D___Adult > 0 THEN Standard___Twin___D___Adult ELSE 1000000 END,
CASE WHEN Standard___Adult > 0 THEN Standard___Adult ELSE 1000000 END,
CASE WHEN En_suite_bathroom___Twin___D___Adult > 0 THEN En_suite_bathroom___Twin___D___Adult ELSE 1000000 END,
CASE WHEN Shared_bathroom___Twin___D___Adult > 0 THEN Shared_bathroom___Twin___D___Adult ELSE 1000000 END,
CASE WHEN En_suite_bathroom___Double___D___Adult > 0 THEN En_suite_bathroom___Double___D___Adult ELSE 1000000 END,
CASE WHEN Upper_Deck_Balcony___Single___D___Adult > 0 THEN Upper_Deck_Balcony___Single___D___Adult ELSE 1000000 END,
CASE WHEN Main_Deck___Double___D___Adult > 0 THEN Main_Deck___Double___D___Adult ELSE 1000000 END,
CASE WHEN Upper_Deck_Balcony___Double_Twin___D___Adult > 0 THEN Upper_Deck_Balcony___Double_Twin___D___Adult ELSE 1000000 END,
CASE WHEN Main_Deck_Balcony___Double_Twin___D___Adult > 0 THEN Main_Deck_Balcony___Double_Twin___D___Adult ELSE 1000000 END,
CASE WHEN Shared_bathroom___Female_only_dorm_____F___Adult > 0 THEN Shared_bathroom___Female_only_dorm_____F___Adult ELSE 1000000 END,
CASE WHEN Shared_bathroom___Double_Twin___D___Adult > 0 THEN Shared_bathroom___Double_Twin___D___Adult ELSE 1000000 END,
CASE WHEN Shared_bathroom___Mixed_gender_dorm_____B___Adult > 0 THEN Shared_bathroom___Mixed_gender_dorm_____B___Adult ELSE 1000000 END,
CASE WHEN Standard___Double___D___Adult > 0 THEN Standard___Double___D___Adult ELSE 1000000 END,
CASE WHEN Upper_Deck___Twin___D___Adult > 0 THEN Upper_Deck___Twin___D___Adult ELSE 1000000 END,
CASE WHEN Non_View_En_suite_bathroom___Twin___D___Adult > 0 THEN Non_View_En_suite_bathroom___Twin___D___Adult ELSE 1000000 END,
CASE WHEN View_En_suite_bathroom___Twin___D___Adult > 0 THEN View_En_suite_bathroom___Twin___D___Adult ELSE 1000000 END,
CASE WHEN Non_View_En_suite_bathroom___Double___D___Adult > 0 THEN Non_View_En_suite_bathroom___Double___D___Adult ELSE 1000000 END,
CASE WHEN Main_Deck___Twin___D___Adult > 0 THEN Main_Deck___Twin___D___Adult ELSE 1000000 END,
CASE WHEN Lower_Deck___Twin___D___Adult > 0 THEN Lower_Deck___Twin___D___Adult ELSE 1000000 END
        ) AS cost
    FROM wagon-bootcamp-377120.g_adventures_dataset.one_month
) AS subquery
    WHERE 1 = 1
     AND cost <= 1000.0 AND start_date >= '2024-04-02' AND start_date <= '2024-04-02' AND tour_name = 'Morocco Kasbahs & Desert'
    GROUP BY
        tour_name, itinerary_name;

In [18]:


# Define prompt
prompt_template = """Write a summary and only include the itinerary name, tour length, a summary of departure dates, summary of costs, travel style, physical grading, a summary of the itinerary and present the url to the user.
Include a mention of any potential interests: surfing.
"{text}"
Produce a summary paragraph not a list or bullet points.
CONCISE SUMMARY:"""
prompt = PromptTemplate.from_template(prompt_template)

# Define LLM chain
llm = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")
llm_chain = LLMChain(llm=llm, prompt=prompt)

# Define StuffDocumentsChain
stuff_chain = StuffDocumentsChain(
    llm_chain=llm_chain, document_variable_name="text"
)

In [19]:
%%time
loader = BigQueryLoader(BASE_QUERY)
docs = loader.load()
itinerary_summary = stuff_chain.run(docs)

NameError: name 'BASE_QUERY' is not defined

In [20]:
print(itinerary_summary)

The "Morocco Kasbahs & Desert" tour by G Adventures is an 8-day trip that explores the highlights of Morocco. The tour starts on April 2, 2024, and costs £649. It falls under the Classic travel style, offering a mix of public and private transport and comfortable tourist-class accommodations. The physical grading is light, suitable for most fitness levels. The itinerary includes visits to ancient Roman ruins, the Fès medina, camel rides in the desert, the Todra Gorge, the Aït Ben Haddou Kasbah, and a guided visit to Marrakech. The tour also offers the option to participate in a tagine cooking class and experience the vibrant Djemaa el Fna Square. The tour is part of the Book Your Bubble Collection, providing extra benefits for booking private travel. Interested travelers can find more information and book the tour at the following URL: [https://www.gadventures.com/trips/morocco-kasbahs-and-desert/DCKD/].